<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/union"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/union"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrossGameMobileApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".HomeScreenActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".ChatRoomActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".FeedbacksActivity"
            android:exported="false" />
        <activity
            android:name=".ListFriendActivity"
            android:exported="false"/>

        <activity
            android:name=".PlatformsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AddInterestsActivity"
            android:exported="false" />
        <activity
            android:name=".SingupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddGamesActivity"
            android:exported="false" />

<!--        <activity-->
<!--            android:name=".RoomsActivity"-->
<!--            android:exported="false">-->
<!--        </activity>-->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>